{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form | crispy }}
        </div>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Log in</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Dont have an account? <a href="#" class="ml-2">Send a registration form</a>
        </small>
    </div>
</div>
{% endblock content %}