{% extends "base.html" %}

{% block content %}
<h1>Products</h1>

<div class="row">
    {% for product in products %}
        <div class="col mb-4">
            <div class="card" style="width: 18rem;">
                {% if product.image_url != None %}
                <img src="{{ product.image_url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">$ {{ product.price }}</p>
                    <p class="card-text">Stock: {{ product.stock }}</p>
                    <p>In offer: {{ product.offer.code }}</p>
                    <p>Posted by: {{ product.author }}</p>
                    <a href="{% url 'post-detail' product.id %}" class="btn btn-primary">View details</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock%}